# Data Science
## Python
* This is my first Python Program in NareshIT
* Now we are about to learnt **Variable** and **values** in python introduction
* Now we are going to write the code and save it in our D drive.

In [1]:
a = 10
b = 35
c = 56
d = 88
print ("The sum of all numbers is:", a+b+c+d )

The sum of all numbers is: 189

* From the above cell **a,b,c,d** are **variables**
* **10,35,56,88** are **values**

# Value
* Value can be of 4 types they are
1. Numerical Value
2. Text
3. Numerical and Text combination
4. Special Character 
* Values Should follow syntax. 
1. numeric values can be written directly 
2. characters has to be written inside of " " marks 
3. Special characters also has to be written in " " marks.

In [2]:
a = 384
b = 47.99
c = "Nice"
d = "45%"
print (a , b , c , d )

384 47.99 Nice 45%

# Variables 
* variable can be defined as **address** where the value is stored
* variables have some rules or syntax 
1. Variable **should not start with numbers** 
2. Variables **should not contain Special Characters**
3. variable **can have numbers or characters in between them**
4. To include numbers or special characters or more than two characters we need to use **-** in between them (ex:str_len1)
5. variable starting with **_** is known as **private variable** whose values are hided (ex: '_password')

In [12]:
#1var = 10                  #cannot start with num
#$Dollar = 98               # cannot use special char
#favorable nums = 55       # no spacing is allowed
# The above statements throughs #syntax error.
fav_symbol = "$$"
print(fav_symbol)

$$

# Comments 
* Comments can be written in python for easy understanding with **#** and **compiler ignores the comments**
* there are two types of comments 
1. **single line comment line** which is denoted with **#** 
2. **Multiline comment line** this can be written in two types 
 - """ This is a multiline 
   comment Line """ .
 - ''' This is also a multiline 
 comment line '''

In [14]:
# my first program 
""" In NareshIT this is
my first python program """
''' This is the first time
I am using jupyter notebook I really like its interface '''
# python ignores above comment lines
first = 45
second = 43
print (first , second )

45 43